.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    margin-top: 2.188rem;
    padding: 0.313rem 0 0.188rem;

    background-color: var(--pinkRed1);
    color: white;
}