.cardsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    list-style: none;
}

.cardsList li {
    width: 250px;
    margin: 1%;
    border-radius: 10px 10px 5px 5px;

    cursor: pointer;
    box-shadow: -4px 5px 5px -5px rgb(0 0 0 / 75%);
    background-color: white;
}

.cardsListaImg {
    width: 100%;
}

.cardsListaImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cardsListaInfo {
    padding: 0.25rem 0.625rem 0.313rem;
}

.cardsList p:first-child {
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
    color: var(--pinkRed1);
    font-weight: bold;
}

.cardsListaInfo p:not(p:first-child) {
    font-size: 0.938rem;
    margin-bottom: 0.313rem;
}

/* @media(max-width: 890px) {

    .cardsList {
        justify-content: center;
    }
} */

@media (max-width: 579px) {
    .cardsList li {
        margin-bottom: 1rem;
    }
}

@media (min-width: 1024px) {
    
    .cardsList li:hover {
        transition: 0.8s all;
        transform: scale(1.05);
        z-index: 5 !important;
    }    
}