.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    margin-bottom: 2.188rem;
    background-color: var(--pinkRed1);
    color: white;
}

.header > p{
    font-size: 1.5rem;
}

.header p {
    margin-left: 10px;
    cursor: pointer;
}

.navBar{
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  padding: 0.813rem;
}

.opeNcloseNav {
    display: none;
}

@media (max-width: 600px) {

    .header {
        position: relative;
    }

    .header p:nth-child(2) {
        margin-right: 10px;
    }

    .opeNcloseNav {
        display: block;
    }

    .navBar {
        display: none ;
        position: absolute;
        background-color: var(--gray2);
        top: 100%;
        width: 100%;
        z-index: 10;
    }

}