
.aboutGrid div:nth-child(4) {
    width: 100%;
}

.aboutGrid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

@media(min-width: 900px) {
    .aboutGrid {
        display: grid;
    
        grid-template-rows: 1fr 20px 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .aboutGrid div,.aboutGrid p {
        display: flex;
        align-items: center;
    }
    
    .aboutGrid .gap {
        width: 100%;
        grid-row: 2/2;
        grid-column: 1/3;
    }
    
    .aboutGrid img:first-child {
        grid-row: 1/1;
        grid-column: 2/2;
    }
    
    .aboutGrid p:nth-child(2) {
        grid-row: 1/1;
        grid-column: 1/1;
        padding-right: 1.25rem;
    }
    
    .aboutGrid img:nth-child(4) {
        grid-row: 3/3;
        grid-column: 1/1;
    }
    
    .aboutGrid p:nth-child(5) {
        grid-row: 3/3;
        grid-column: 2/2;
        padding-left: 1.25rem;
    }
}

@media(max-width: 899px) {

    .aboutGrid {
        text-align: center;
    }

    .aboutGrid div {
        margin-bottom: 1rem;
    }

    .aboutGrid p:not(p:last-child) {
        margin-bottom: 1.875rem;
    }
}