.reviewContainer {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}

.reviewContainer .movieInfo {
    align-self: flex-start;  
    width: 250px;

    margin: 0 auto;
    border-radius: 10px 10px 5px 5px;

    box-shadow: -4px 5px 5px -5px rgb(0 0 0 / 75%);
    background-color: white;
}

.reviewContainer .movieInfoImg {
    width: 100%;
}

.reviewContainer .movieInfo img {
    width: 100%;
    height: 100%;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.reviewContainer .movieInfoText {
    padding: 0.25rem 0.625rem 0.313rem;
}

.reviewContainer .movieInfoText p:first-child {
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
    color: var(--pinkRed1);
    font-weight: bold;
}

.reviewContainer .movieInfoText p:not(p:first-child) {
    font-size: 0.938rem;
    margin-bottom: 0.313rem;
}



.reviewContainer .movieReviewsList {
    width: 70%;
    margin: 0 auto;
    list-style: none;
}

.reviewContainer li {
    border-radius: 5px;

    padding: 0.625rem 0.625rem 0.563rem;
    background-color: white;
    box-shadow: -4px 5px 5px -5px rgb(0 0 0 / 75%);
}

.reviewContainer li:not(li:last-child) {
    margin-bottom: 1.25rem;
}

.reviewContainer .movieReviewTitle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.25rem;
}

.reviewContainer .movieReviewTitle p:nth-child(2) {
    margin: 0 0.188rem 0 0.625rem;
}

.reviewContainer .movieReviewTitle img { 
    width: 18px !important;
}

.reviewContainer .movieReviewBody p:first-child {
    margin: 1.25rem 0 0.875rem;
}

.reviewContainer .movieReviewBody p:last-child {
    text-align: right;
    cursor: pointer;
}


.reviewEdit {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.25rem;
    row-gap: 0.625rem;

    padding: 0.625rem;
    margin-top: 0.625rem;
    border-top: 1px solid #cecece;
}

.inputField {
    display: flex;
    flex-direction: column;
}

.inputField label {
    margin-bottom: 0.313rem;
}

.inputField:first-child{
    flex-grow: 3
}

.inputField:nth-child(2){
    flex-grow: 1
}

.inputField:nth-child(4) {
    flex-grow: 1;
}

.inputField input {
    padding: 0.125rem 0.188rem 0.188rem 0.375rem;
    height: 35px;
}

.inputField textarea {
    width: 100% !important;
    min-width: 100%; 

    max-height: 220px;
    min-height: 66px;

    padding: 0.063rem 0.313rem ;
}

.reviewEdit button  {
    padding: 0.5rem 1rem 0.438rem;
    border: none;
    border-radius: 5px;
    font-size: 0.875rem;
    font-weight: bold;

    color: white;
    background-color: var(--pinkRed1);
}

.rowBreak {
    flex-basis: 100%;
    height: 0;
}


@media (max-width: 1050px) {

    .movieInfo {
        margin-bottom: 1.563rem !important;
    }

    .movieReviewsList {
        width: 100% !important;
    }

    .colBreak{
        flex-basis: 100%;
        width: 0;
    }
}