*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

:root {
	--gray1: #F4F4F4;
	--gray2: #333333;
	--ecru : #CEC288;
	--orangeRed1: #EB5E46;
	--pinkRed1: #FA465F;
}



/* ================================ */



html,body {
	padding: 0;
	margin: 0;
	font-family: Roboto;
}


html, body, #__next, #root {
	width: 100%;
	height: 100%;
}

#root {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

body {
	background-color: var(--gray1);
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

@media (max-width: 600px) {
    .hideShowBtn {
        display: block !important;
    }
}